@use '../../sass/index' as *;

.burguer-item {
  display: flex;
  width: 350px;
  height: 200px;
  position: relative;
  cursor: pointer;

  &-image {
    width: 150px;
    object-fit: contain;
    z-index: 10;
    margin-top: 3.5em;
  }

  &-info {
    background: #fff;
    padding: 1em;
    position: absolute;
    right: 0;
    width: 80%;
    border-radius: 0 0 50px 0;
    transition: all 0.2s;

    h3 {
      color: $primary-color;
    }

    p {
      color: #555;
      padding-left: 4em;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-top: 1em;
    }

    .price {
      color: $secondary-color;
      font-weight: bold;
      text-align: end;
      padding-right: 2em;
      font-size: 1.2em;
    }
  }

  &:hover &-info {
    background: linear-gradient(90deg, $tertiary-color, $primary-color);

    h3,
    p {
      color: #fff;
    }

    .price {
      color: transparent;
      position: relative;
      &::before {
        content: 'Ordenar Ahora';
        color: #fff;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@include tablet {
  .burguer-item {
    width: 100%;

    &-image {
      width: 200px;
    }
  }
}

@media (max-width: 500px) {
  .burguer-item {
    &-info {
      width: 90%;

      p {
        padding-left: 6em;
      }
    }
    &-image {
      width: 40%;
    }
  }
}
