.content-icon-info {
  .icon {
    display: flex;
    gap: 1em;
    align-items: center;

    img {
      width: 20px;
      height: 20px;
    }

    h3 {
      font-weight: 500;
    }
  }

  p {
    color: #555;
    margin-top: 0.5em;
  }
}
