@use '../../../../sass/index' as *;

.home-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  &-text {
    display: flex;
    flex-direction: column;
    gap: 3em;

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        color: #333;
        font-size: 1.3em;
      }

      h1 {
        color: $primary-color;
        font-size: 3em;
      }
      p {
        width: 80%;
        color: #999;
      }
    }
  }
}
