@use '../../../../sass/index' as *;

.home-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  &-text {
    display: flex;
    flex-direction: column;
    gap: 3em;

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        color: #555;
        font-size: 1.3em;
      }

      h1 {
        color: $primary-color;
        font-size: 3em;
      }
      p {
        width: 80%;
        color: #999;
      }
    }

    .social-media {
      display: flex;
      gap: 2em;
      margin-top: 2em;

      img {
        cursor: pointer;
        width: 25px;
        height: 25px;
      }
    }
  }

  &-image {
    position: relative;

    &-burguer {
      margin-right: 10em;
    }

    .background-burguer {
      position: absolute;
      width: 70%;
      height: 125%;
      top: -20%;
      right: 0;
      border-radius: 0 0 0 50px;
      background: linear-gradient(90deg, $tertiary-color, $primary-color);
      z-index: -1;

      &::before {
        content: 'BURGUER.';
        position: absolute;
        top: 40%;
        right: -47%;
        transform: translate(-50%, -50%);
        transform: rotate(-90deg);
        font-size: 7em;
        font-weight: bold;
        color: $tertiary-color;
        opacity: 0.3;
      }
    }
  }
}
